*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:rgb(240, 222, 222);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    
}
header img {
    border-radius: 50%;
    border:3px solid rgb(112, 0, 0);
    margin:10px 0;
    padding:10px;
}
header h1 {
    text-transform:uppercase;
}
header ul {
    display: flex;
   justify-content: center;
   margin: 20px 0 20px 0;
}
header ul li{
    list-style-type: none;
    margin: 10px;
}

header ul li a{
    text-decoration:none;
    color:rgb(112, 0, 0) ;
}

header ul li a:hover{
    text-decoration:dashed;
    font-weight: bold;
    border-bottom: 3px solid rgb(112, 0, 0) ;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkgray;
    padding: 15px;
}
footer img {
    width: 60px;
}

.slide{
width:100%;
height: 200px;
position: relative;
}

.slide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide h1{
    position: absolute;
    background-color: rgba(5, 5, 5, 0.6);
    top: 100px;
    width: 100%;
    text-align: center;
    color: wheat;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.6) ;
}

section#mais {
    width: 100%;
    background-color: brown;
    height: auto;
    color: white;
    padding: 20px 0 40px 0;
}

section#mais h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.mais li {
    list-style-type: circle;
    margin-left: 40px;
}
.mais li a{
    list-style-type: none;
    text-decoration: none;
    color: beige;
    font-size: 1.2rem;
}
.mais li a:hover{
  color: rgb(54, 5, 5);
  font-weight: 700;
}

article{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sectionMantis p {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: 20px;
}

.headerMantis img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.headerMantis{
    display: flex;
    align-items: center;
    padding: 20px;
}

.headerMantis h1{
    font-size: 1.2rem;
    padding: 10px;
}

